@font-face {
    font-family:"chalk";
    src: url('Assets/chawp.ttf');
}
body{
    font-family: "chalk";
    background-size: cover;
    background-image: url(Assets/back.jpg);
    color: white;
    margin-top: 90px;
}
.title{
    font-size: 600%;
    text-align: center;
    margin-right: 180px;
      
}
.list{
    font-size: xx-large;
    text-align: center;
    margin-right: 180px;
}
a{
    color: white;
    text-decoration: none;
}
a:hover{
    color: black;
}
